* {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  flex: auto;
  justify-content: space-between;
  height: 1920px;
  margin: 0;
  background-image: url(assets/wangsheng.png);
  background-size: auto 70%;
  backdrop-filter: blur(5px);
}

/*Header Part CSS*/
.header {
  background-color: rgba(89, 61, 62, 0.8);
  text-shadow: 2px 2px 6px black, 0 0 1em black, 0 0 0.2em black;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
}

.headerMain, .links{
  display: flex;
  flex: 1;
  gap: 30px;
  font-weight: 900;
  align-items: center;
  padding: 10px 30px;
  background-color: #1e1516;
}

.links {
  justify-content: end;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.welcome {
  display: flex;
  justify-content: center;

}

.welcomeContent {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 100px;
}


.welcome img {
  background-color: red;
  margin: 50px;
  width: 45%;
  text-shadow: none;
}

/*Header Part Editing*/
.headerLogoText {
  font-size: 24px;
  color: #f9faf8
}

.mainText {
  font-size: 50px;
  font-weight: extra-bold;
  color: #f9faf8;
}

.subText {
  font-size: 18px;
  color: #e5e7eb;
}



/*Info Part*/
.info {
  text-align: center;
  margin: 120px 60px;
  background-color: rgba(89, 61, 62, 0.95);
  backdrop-filter: blur(5px);
  color: #e5e7eb;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  border-radius: 30px;
  padding: 70px;
}

.info h1 {
  font-size: 40px;
}

.items {
  display: flex;
  justify-content: center;
}

.items img {
  background-color: #1F2937;
  width: 500px;
  height: 800px;
  border: 6px solid #131516;
  border-radius: 30px;
  padding: 100px 80px;
  margin: 50px;
  margin-bottom: 0;
  box-shadow: 0px 0px 20px red;
  transition-duration: 0.3s;
}

.items img:hover {
  box-shadow: 0px 0px 20px white;
}

.items p {
  font-size: large;
  font-weight: 900;
}


/*Quote Part*/
.quote {
  width: 100%;
  padding: 150px 50px;
  text-align: center;
  background: linear-gradient(#ccaf83, #c1312a);
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  color: white;
}

.quote h1 {
 font-size: 40px;
 font-style: italic;
 font-weight: light;
 max-width: 50%;
 margin: auto;
 margin-top: 50px;
}

.quote img {
  height: 200px;
  width: 200px;
  margin: 0 0;
  border-radius: 20px;
  border: 5px solid black;
}

.quote p {
  font-size: 20px;
  font-weight: 20;
  text-align: right;
  margin-right: 300px;
}



/*Sign Up Part*/
.sign {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: #1e1516;*/
  background-image: url(assets/hutaocard.jpg);
  backdrop-filter: saturate(80%);
  background-size: auto 200%;
  border: 2px solid #131516;
  border-radius: 10px;
  width: 1200px;
  padding: 80px 200px;
  margin: 160px auto;
}

.sign h3, .sign p {
  margin: 0 -90px;

}

.sign .message {
  justify-content: center;
  align-items: center;
  color: #e5dce1;
  font-size: larger;
}

.sign button {
  padding: 15px 40px;
  background-color: #943934;
  border: 3px white;
  color: white;
}


/*Footer Part*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1F2937;
  border-radius: 30px;
  font-size: 18px;
  color: #e5e7eb;
  padding: 40px;
}

/*Others*/
a {
  text-decoration: none;
  color: white;
}

button {
  padding: 15px 0px;
  max-width: 200px;
  border-radius: 10px;
  background-color: #943934;
  border: 1px black;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  font-weight: 900;
  transition-duration: 0.5s;
}

button:hover {
  background-color: #1e1516;
}